<%= form_with(model: restaurant, class: "contents") do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul class="list-disc ml-6">
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": restaurant.errors[:name].none?, "border-red-400 focus:outline-red-600": restaurant.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": restaurant.errors[:description].none?, "border-red-400 focus:outline-red-600": restaurant.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.select :status,
        Restaurant.statuses.keys.map { |key| [key.humanize, key] },
        {},
        class: [
          "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full",
          restaurant.errors[:status].none? ? "border-gray-400 focus:outline-blue-600" : "border-red-400 focus:outline-red-600"
        ] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
